*.BAK
FFTW_*
*.xsc
*.vel
*.coor
.DS_Store
Examples/fep_rest/figures
Examples/abl/pmf/analysis
Examples/abl/pmf/data
Examples/abl/pmf.vac/254.14/data
*.old
Examples/abl/pmf.vac/354.14/data
*.state
*.xst
job*.conf
r-*.namd
Examples/abl/figures
Examples/abl/rest/analysis
r-*.in
Examples/abl/rest/data
err
Examples/aaqaa3/figures
Examples/abl/pmf.vac/300.00/data
out
*.swp
